@import url("https://fonts.googleapis.com/css?family=Roboto|Neucha|Roboto+Slab");
@font-face {
  font-family: animeace;
  src: url(../fonts/animeace.ttf); }
/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #fff;
  color: #444; }

body, input, select, textarea {
  font-family: "Roboto", sans-serif;
  font-size: 13pt;
  font-weight: 400; }

.flex, .landing-header, .container, .banner-buttons, .new-journal, .heroes, .rubric, .landing-section_socials, .comment, .contacts, .contest__content, .partners {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.transition, .button, .rubric__image, .parentsandkids-item div {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

body {
  padding-top: 4em; }

.landing-header {
  height: 4em;
  line-height: 4em;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #83BD4F;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  flex-flow: row nowrap;
  justify-content: center;
  z-index: 10; }

.logo {
  width: 12em;
  height: 6em;
  background: url("../img/logo.png") no-repeat center;
  background-size: contain;
  position: absolute;
  left: 0; }

.logo:hover {
  cursor: pointer; }

.slogan {
  font-family: Neucha, cursive;
  font-size: 1.35em;
  letter-spacing: 0.15em;
  font-weight: 700;
  color: #FFF698;
  cursor: default; }

.landing-section {
  padding: 5em 0; }

.landing-section_banner {
  padding: 5em 0;
  background: url("../img/main.jpg") no-repeat center 0;
  background-size: cover; }

.container {
  width: 90%;
  max-width: 65em;
  margin: auto;
  flex-flow: row wrap; }

.landing-section_banner .container {
  flex-flow: column wrap;
  width: 95%;
  max-width: 100%; }

.landing-section_journal .container {
  flex-flow: column wrap; }

.landing-section_banner .landing-section__title {
  font-family: animeace, cursive;
  font-weight: 300;
  font-size: 2.5em;
  margin-bottom: 0; }

.landing-section__info {
  width: 33.33333%;
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 10px;
  padding: 1em;
  position: relative;
  margin-bottom: 1em; }

.landing-section__presentation {
  width: 33.33333%;
  padding: 1em;
  min-height: 20em;
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 10px; }

.landing-section_banner .landing-section__description {
  font-size: 1em;
  margin: 2em 0; }

.banner-buttons {
  flex-flow: row nowrap;
  justify-content: flex-start; }

.button {
  display: block;
  height: 3em;
  line-height: 3em;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  padding: 0 1em;
  cursor: pointer;
  background-color: #83BD4F;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  text-transform: uppercase; }

.button:hover {
  background-color: #7bb845;
  transform: scale(1.05);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.35); }

.button_last {
  margin-left: 1em; }

.button_transparent {
  background-color: rgba(255, 255, 255, 0.25); }

.button_transparent:hover {
  background-color: rgba(255, 255, 255, 0.5); }

.landing-section__title {
  margin-bottom: 2em;
  font-family: animeace, cursive;
  font-weight: 400;
  font-size: 2em;
  width: 100%; }

.new-journal {
  flex-flow: row nowrap; }

.new-journal__image {
  max-width: 40%; }

.new-journal__image img {
  max-width: 100%;
  max-height: calc(100vh - 15em); }

.new-journal__description {
  padding: 0 2em;
  max-width: 60%; }

.landing-section_heroes {
  background: #0082C9 url(../img/robots.png); }

.landing-section_heroes .container {
  flex-flow: column wrap; }

.landing-section__title_bright {
  color: #ffffff; }

.heroes {
  flex-flow: row wrap;
  justify-content: space-between; }

.hero {
  width: 50%;
  background: url(../img/hero-bg1.svg) no-repeat 50%;
  background-size: 100% 100%;
  font-size: 0.85em;
  padding: 3em;
  margin-bottom: 1em; }

.hero_bg2 {
  background-image: url(../img/hero-bg2.svg); }

.hero_bg3 {
  background-image: url(../img/hero-bg3.svg); }

.hero_bg4 {
  background-image: url(../img/hero-bg4.svg); }

.hero__image img {
  max-width: 100%; }

.hero__name {
  margin: 1em 0;
  font-family: "Roboto Slab", serif;
  font-size: 1.5em;
  text-align: center; }

.hero__description {
  margin: 0 0 1em; }

.hero__likes {
  margin: 0 0 1em; }

.hero__likes span {
  color: #0082C9;
  font-weight: 700; }

.hero__dislikes span {
  color: #ec1c24;
  font-weight: 700; }

.landing-section_rubrics .container {
  justify-content: space-between; }

.rubric {
  width: 48%;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 3em; }

.rubric__image {
  max-width: 180px;
  max-height: 180px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%; }

.rubric__image:hover {
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  -ms-transform: rotateZ(360deg);
  -o-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
  cursor: pointer; }

.rubric__image img {
  max-width: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%; }

.rubric__text {
  width: 65%; }

.rubric__title {
  font-family: animeace, cursive;
  font-weight: 300;
  font-size: 1.25em;
  cursor: default;
  display: inline-block;
  width: auto;
  color: #fff;
  background: #EE1C25;
  border: 3px solid #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  padding: 0 1em;
  margin-bottom: 1em; }

.rubric__title a {
  text-decoration: none;
  color: inherit; }

.landing-section_socials {
  background: #f0f0f0 url(../img/socials_bg.png) -10px -10px;
  flex-flow: row wrap; }

.social-item {
  width: 50%; }

.social-item_youtube {
  padding-right: 5em; }

.social-item_youtube .landing-section__title {
  text-align: right; }

.social-item_facebook {
  padding-left: 5em; }

.landing-section__title_youtube {
  color: #ec1c24; }

.landing-section__title_facebook {
  color: #0082C9; }

.youtube__iframe {
  border: 0 !important;
  float: right; }

.comments-section__title {
  font-family: "Roboto Slab", serif;
  margin: 2em 0; }

.comments-section__image img {
  max-width: 50%; }

.comment {
  padding-right: 2em;
  margin-bottom: 2em;
  width: 50%; }

.comment__icon {
  width: 2em;
  height: 2em;
  font-family: FontAwesome; }

.comment__icon:before {
  display: block;
  content: "\f08a";
  width: 2em;
  height: 2em; }

.comment__description {
  font-family: Neucha, cursive;
  margin-bottom: 1em; }

.comment__description p {
  margin-bottom: 0; }

.comment__author {
  text-align: right; }

.landing-section_subscription {
  background-color: #FFD300; }

.subscription__why {
  width: 100%; }

.subscription__method {
  margin-top: 1em;
  width: 100%;
  padding-left: 2em;
  position: relative; }

.subscription__method:before {
  display: block;
  height: 1em;
  width: 1em;
  content: "\f05a";
  font-family: FontAwesome;
  position: absolute;
  left: 0.5em;
  top: 0; }

.subscription__method a {
  color: inherit; }

.landing-section_subscription .container {
  position: relative; }

.subscription__image {
  background: url("../img/subscription.png") no-repeat center;
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 0;
  right: 0; }

.landing-section_contacts {
  padding: 0; }

.landing-section_contacts .container {
  max-width: 100%;
  width: 100%; }

.contacts {
  width: 50%;
  padding: 1em;
  flex-flow: row wrap;
  background: #efefef;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25); }

#map {
  width: 50%; }

.contact {
  width: 50%;
  font-size: 0.875em;
  padding: 1em;
  text-align: right; }

.contact_soc a {
  display: inline-block;
  width: 2.5em;
  color: inherit;
  text-decoration: none; }

.contact_main {
  margin-top: 1em;
  width: 100%; }

.contact__title {
  font-weight: 700; }

.contact__info a {
  color: inherit; }

.contact__icon {
  font-family: FontAwesome;
  font-size: 2.5em;
  height: 1em;
  width: 100%;
  line-height: 1em;
  text-align: center; }

.contact__icon:before {
  display: block;
  width: 100%;
  height: 1em;
  content: "\f041"; }

.contact__icon_youtube:before {
  content: "\f16a"; }

.contact__icon_facebook:before {
  content: "\f09a"; }

.contact__icon:hover {
  color: #333; }

.footer {
  background-color: #c0c0c0;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.35);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.35);
  padding: 1em 0; }

.footer__kraid {
  width: 100%;
  text-align: center;
  font-size: 0.875em;
  margin-bottom: 0.5em; }

.footer__lightweb {
  width: 100%;
  text-align: center;
  font-size: 0.75em; }

.footer__lightweb a {
  color: inherit; }

.menu-item {
  background: #FFD504;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  height: 3em;
  margin-left: 0;
  color: #0082C9;
  text-align: center;
  line-height: 3em;
  -webkit-transform: translate3d(0, 1em, 0) scale(0);
  transform: translate3d(0, 1em, 0) scale(0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
  padding: 0 1em; }

.menu-open {
  display: none; }

.hamburger {
  width: 1.5em;
  height: 0.2em;
  background: #0082C9;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.75em;
  margin-top: -0.1em;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms; }

.hamburger-1 {
  -webkit-transform: translate3d(0, -0.5em, 0);
  transform: translate3d(0, -0.5em, 0); }

.hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.hamburger-3 {
  -webkit-transform: translate3d(0, 0.5em, 0);
  transform: translate3d(0, 0.5em, 0); }

.menu-open:checked + .menu-open-button .hamburger-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
  transform: translate3d(0, 0, 0) rotate(45deg); }

.menu-open:checked + .menu-open-button .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
  transform: translate3d(0, 0, 0) scale(0.1, 1); }

.menu-open:checked + .menu-open-button .hamburger-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
  transform: translate3d(0, 0, 0) rotate(-45deg); }

.menu {
  position: absolute;
  right: 2em;
  top: 2em;
  box-sizing: border-box;
  text-align: left;
  z-index: 30; }

.menu-item {
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  border-radius: 2px;
  z-index: 30;
  cursor: pointer;
  font-weight: 700; }

.menu-item:hover {
  background: white; }

.menu-item:nth-child(3) {
  -webkit-transition-duration: 680ms;
  transition-duration: 680ms; }

.menu-item:nth-child(4) {
  -webkit-transition-duration: 580ms;
  transition-duration: 580ms; }

.menu-item:nth-child(5) {
  -webkit-transition-duration: 480ms;
  transition-duration: 480ms; }

.menu-item:nth-child(6) {
  -webkit-transition-duration: 380ms;
  transition-duration: 380ms; }

.menu-item:nth-child(7) {
  -webkit-transition-duration: 280ms;
  transition-duration: 280ms; }

.menu-item:nth-child(8) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms; }

.menu-item:nth-child(9) {
  -webkit-transition-duration: 80ms;
  transition-duration: 80ms; }

.menu-item:nth-child(10) {
  -webkit-transition-duration: 80ms;
  transition-duration: 80ms; }

.menu-open-button {
  display: block;
  width: 4em;
  height: 4em;
  background: #FFD504;
  border-radius: 100%;
  z-index: 40;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
  position: absolute;
  left: 50%;
  margin-left: -2em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); }

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  transform: scale(1.2, 1.2) translate3d(0, 0, 0); }

.menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  transform: scale(0.8, 0.8) translate3d(0, 0, 0); }

.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); }

.menu-open:checked ~ .menu-item:nth-child(3) {
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transform: translate3d(0, 5em, 0) scale(1);
  transform: translate3d(0, 5em, 0) scale(1); }

.menu-open:checked ~ .menu-item:nth-child(4) {
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transform: translate3d(0, 6em, 0) scale(1);
  transform: translate3d(0, 6em, 0) scale(1); }

.menu-open:checked ~ .menu-item:nth-child(5) {
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transform: translate3d(0, 7em, 0) scale(1);
  transform: translate3d(0, 7em, 0) scale(1); }

.menu-open:checked ~ .menu-item:nth-child(6) {
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transform: translate3d(0, 8em, 0) scale(1);
  transform: translate3d(0, 8em, 0) scale(1); }

.menu-open:checked ~ .menu-item:nth-child(7) {
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transform: translate3d(0, 9em, 0) scale(1);
  transform: translate3d(0, 9em, 0) scale(1); }

.menu-open:checked ~ .menu-item:nth-child(8) {
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transform: translate3d(0, 10em, 0) scale(1);
  transform: translate3d(0, 10em, 0) scale(1); }

.menu-open:checked ~ .menu-item:nth-child(9) {
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transform: translate3d(0, 11em, 0) scale(1);
  transform: translate3d(0, 11em, 0) scale(1); }

.menu-open:checked ~ .menu-item:nth-child(10) {
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transform: translate3d(0, 12em, 0) scale(1);
  transform: translate3d(0, 12em, 0) scale(1); }

.menu-open:checked ~ .menu-item:nth-child(11) {
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transform: translate3d(0, 13em, 0) scale(1);
  transform: translate3d(0, 13em, 0) scale(1); }

.menu-open:checked ~ .menu-item:nth-child(12) {
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transform: translate3d(0, 14em, 0) scale(1);
  transform: translate3d(0, 14em, 0) scale(1); }

.game {
  width: 33.3333333%;
  margin-bottom: 1em;
  padding-right: 1em; }

.game img {
  max-width: 100%;
  cursor: pointer; }

.game__title {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  margin-bottom: 1em; }

.contest__content {
  flex-flow: row nowrap;
  justify-content: center; }

.contest__title {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  text-align: center;
  width: 100%;
  margin: 1em 0; }

.contest__image {
  max-width: 25%; }

.contest__image img {
  max-width: 100%; }

.contest__description {
  padding: 0 2em;
  max-width: 80%; }

#contest {
  background: #ABD9F1 url(../img/transparent-square-tiles.png); }

#contest .landing-section__title {
  margin-bottom: 1em; }

.landing-section_comments {
  background: #ffffff url(../img/transparent-square-tiles.png);
  color: #803695; }

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 100;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black w/ opacity */ }

/* Modal Content */
.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  max-width: 60em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s; }

/* Add Animation */
/* The Close Button */
.modal__close {
  color: white;
  /* float: right; */
  font-size: 20px;
  line-height: 20px;
  width: 20px;
  display: block;
  right: 0;
  position: absolute;
  top: 0;
  text-align: center; }

.modal__close:hover,
.modal__close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

.modal__header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white; }

.modal__footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white; }

.toTop {
  position: fixed;
  bottom: 1em;
  right: 2em;
  color: #0082C9;
  background: #FFD504;
  width: 2em;
  height: 2em;
  font-size: 2em;
  font-family: FontAwesome;
  line-height: 2em;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35); }

.toTop:before {
  display: block;
  width: 2em;
  height: 2em;
  content: "\f062"; }

.landing-section_partners {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.35); }

.partners {
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.35); }

.partners .container {
  justify-content: space-around; }

.partner {
  width: 10%;
  padding: 0 1em;
  text-align: center; }

.partner img {
  max-width: 100%;
  max-height: 120px; }

.triangle {
  height: 5em;
  width: 100%;
  position: relative; }

.triangle_upper {
  margin-top: -5em;
  margin-bottom: 2em; }

.triangle_lower {
  margin-bottom: -5em;
  margin-top: 2em; }

.triangle svg {
  height: 100%;
  width: 100%; }

.triangle_upper svg {
  position: absolute;
  top: -1px; }

.triangle_lower svg {
  position: absolute;
  bottom: -1px; }

.button a, .menu-item a {
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
  color: inherit; }

.landing-section_colorbooks .container {
  justify-content: space-between; }

.color-book {
  height: 20em;
  width: 48%;
  margin-bottom: 1em; }

.color-book iframe {
  outline: none;
  border: none; }

.landing-section_parentsandkids {
  padding: 0; }

.landing-section_parentsandkids .container {
  max-width: 100%;
  width: 100%; }

.parentsandkids-item {
  width: 50%;
  display: block;
  text-decoration: none;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
  background-size: cover !important; }

.parentsandkids-item div {
  padding: 10em 0; }

.parentsandkids-item_parents {
  background: url(../img/parents.jpg) no-repeat 50%; }

.parentsandkids-item_kids {
  background: url(../img/kids.jpg) no-repeat 50%; }

.parentsandkids-item_parents div {
  background-color: rgba(255, 213, 4, 0.55); }

.parentsandkids-item_parents:hover div {
  background-color: rgba(255, 239, 157, 0.55); }

.parentsandkids-item_kids div {
  background-color: rgba(128, 54, 149, 0.55); }

.parentsandkids-item_kids:hover div {
  background-color: rgba(198, 142, 214, 0.55); }

.parentsandkids-item__title {
  color: rgba(255, 255, 255, 0.87);
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 0; }

.landing-section_colorbooks {
  background: #00A651 url(../img/fabric.png); }

.landing-section_games {
  background: #FFF698; }

.landing-section_gallery {
  padding: 10px 0;
  height: 620px;
  position: relative; }

.gallery__item {
  position: absolute;
  top: 10px;
  height: 600px;
  background: #ffffff url("../img/gallery/1.png") no-repeat 50%;
  background-size: auto 100%;
  width: 100%; }

.landing-section__title_partners {
  text-align: center;
  width: 100%;
  margin: 0 0 0.5em;
  font-size: 1.5em;
  font-family: "Roboto Slab", serif; }

.rubric_academy-kraid .rubric__title {
  background-color: #159659; }

.rubric_academy-kraid .rubric__image {
  background-color: #ABD9F1; }

.rubric_live-world .rubric__title {
  background-color: #4CA146; }

.rubric_what-this .rubric__title {
  background-color: #F15122; }

.rubric_watch .rubric__title {
  background-color: #EF3E22; }

.rubric_eureka .rubric__title {
  background-color: #0082C9; }

.rubric_eureka .rubric__image {
  background-color: #ABD9F1; }

.rubric_workshop .rubric__title {
  background-color: #D1232A; }

.rubric_playground .rubric__title {
  background-color: #7E5490; }

.rubric_english .rubric__title {
  background-color: #EF56A0; }

.another-font {
  font-family: "Roboto Slab", serif;
  display: block;
  float: right;
  margin-left: 0.5em;
  margin-top: -0.175em;
  font-size: 1.15em; }

.modal_rubric .modal__content {
  border: 0;
  background-color: transparent;
  box-shadow: none; }

.rubric_workshop .rubric__image {
  background-color: #f2f2f2; }

.slogan img {
  max-width: 100%; }

@media screen and (max-width: 1520px) {
  .landing-section__presentation {
    width: 40%; }

  .landing-section_banner .landing-section__info {
    width: 40%; } }
@media screen and (max-width: 1024px) {
  .landing-section__presentation {
    width: 50%; }

  .landing-section_banner .landing-section__info {
    width: 50%; }

  .rubric {
    width: 80%;
    margin: 0 10% 3em; }

  .landing-section__title {
    font-size: 1.5em;
    margin-bottom: 1.5em; }

  .partner {
    width: 16.666667%;
    padding: 0 2em; } }
@media screen and (max-width: 960px) {
  .social-item_youtube {
    padding-right: 2em; }

  .social-item_facebook {
    padding-left: 2em; }

  .contact {
    width: 100%;
    padding: 0.5em; }
    .contact .slogan {
      max-width: 50%; }

  .menu-open-button {
    left: auto;
    right: 0;
    margin-left: 0; }

  .menu {
    right: 0.5em;
    top: 0.5em; }

  .menu-open:checked ~ .menu-item:nth-child(3) {
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transform: translate3d(0, 5em, 0) scale(1);
    transform: translate3d(0, 4em, 0) scale(1); }

  .menu-open:checked ~ .menu-item:nth-child(4) {
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transform: translate3d(0, 6em, 0) scale(1);
    transform: translate3d(0, 4em, 0) scale(1); }

  .menu-open:checked ~ .menu-item:nth-child(5) {
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transform: translate3d(0, 7em, 0) scale(1);
    transform: translate3d(0, 4em, 0) scale(1); }

  .menu-open:checked ~ .menu-item:nth-child(6) {
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transform: translate3d(0, 8em, 0) scale(1);
    transform: translate3d(0, 4em, 0) scale(1); }

  .menu-open:checked ~ .menu-item:nth-child(7) {
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transform: translate3d(0, 9em, 0) scale(1);
    transform: translate3d(0, 4em, 0) scale(1); }

  .menu-open:checked ~ .menu-item:nth-child(8) {
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transform: translate3d(0, 10em, 0) scale(1);
    transform: translate3d(0, 4em, 0) scale(1); }

  .menu-open:checked ~ .menu-item:nth-child(9) {
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transform: translate3d(0, 11em, 0) scale(1);
    transform: translate3d(0, 4em, 0) scale(1); }

  .menu-open:checked ~ .menu-item:nth-child(10) {
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transform: translate3d(0, 12em, 0) scale(1);
    transform: translate3d(0, 4em, 0) scale(1); }

  .menu-open:checked ~ .menu-item:nth-child(11) {
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transform: translate3d(0, 13em, 0) scale(1);
    transform: translate3d(0, 4em, 0) scale(1); }

  .menu-open:checked ~ .menu-item:nth-child(12) {
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transform: translate3d(0, 14em, 0) scale(1);
    transform: translate3d(0, 4em, 0) scale(1); }

  .menu-item {
    font-size: 0.875em;
    height: 1.875em;
    line-height: 1.875em; } }
@media screen and (max-width: 800px) {
  .landing-section__presentation {
    width: 70%; }

  .landing-section_banner .landing-section__info {
    width: 70%; }

  .slogan {
    max-width: 35%; }

  .social-item {
    width: 50%;
    margin: 0 25%;
    padding: 0; }

  .social-item_youtube .landing-section__title {
    text-align: left; }

  .another-font {
    float: none;
    display: inline-block; }

  .landing-section__title {
    margin-bottom: 1em; }

  .landing-section__title_facebook {
    margin-top: 1em; }

  .youtube__iframe {
    float: none; }

  .comment {
    /* padding-right: 2em; */
    width: 100%; }

  .hero {
    width: 100%;
    padding: 4em; }

  .hero__image img {
    margin: auto;
    display: block; }

  .new-journal, .contest__content {
    flex-flow: row wrap; }

  .new-journal__description, .contest__description {
    padding: 2em 0;
    max-width: 100%; }

  .toTop {
    bottom: 0.5em;
    right: 0.5em; }

  .rubric__image {
    margin-right: 1em;
    max-width: 150px;
    max-height: 150px; }

  .landing-section_games {
    display: none; }

  .link.menu-item[data-href=games] {
    display: none; } }
@media screen and (max-width: 640px) {
  .rubric {
    flex-flow: row wrap; }

  .rubric__text {
    width: 100%; }

  .rubric__image {
    margin: 0 auto 1em; }

  .contacts {
    width: 100%; }

  .contact {
    width: 50%; }

  #map {
    height: 200px;
    width: 100%; }

  .partner {
    width: 20%; }

  .modal__body img {
    max-width: 400px; }

  .logo {
    width: 8em;
    height: 4em; }

  .social-item {
    width: 100%;
    margin: 0;
    padding: 1em calc((100% - 360px) / 2); } }
@media screen and (max-width: 480px) {
  .partner {
    width: 33%; }

  .contact {
    width: 100%; }

  .landing-section__presentation {
    width: 100%; }

  .landing-section_banner .landing-section__info {
    width: 100%; } }
@media screen and (max-width: 420px) {
  .social-item_youtube {
    padding: 5px; }

  .slogan {
    display: none; } }
@media screen and (max-width: 360px) {
  .youtube__iframe {
    width: 270px !important;
    height: 202.5px !important; } }
.landing-section_collaboration {
  background: url("../img/inspiration-geometry.png"); }

.collaboration__image {
  max-height: 100px;
  max-width: 100px;
  float: left;
  margin-right: 1em;
  margin-bottom: 1em; }

.collaboration__title {
  font-size: 1.25em;
  font-weight: 400;
  margin-bottom: 1em;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase; }

.landing-section_collaboration p {
  margin-bottom: 2em; }

.landing-section_collaboration p a {
  color: inherit; }

.landing-section_collaboration p a:hover {
  text-decoration: none; }

.collaboration-item {
  margin-bottom: 2em; }

pre {
  margin: 0;
  font-family: inherit; }

p {
  margin-bottom: 2em; }

/*# sourceMappingURL=main.css.map */
