 * {
 	box-sizing: border-box;
 }
 .admin-nav {
 	position: fixed;
 	width: 20em;
 }
 .admin-main {
 	margin-left: 20em;
 }
 .admin-content {
 	padding: 1.25em;
 }
 .admin-content_block {

 }
 .admin-content form {
 	clear: both;
 }
 .admin-content form > div {
 	margin-bottom: 0.25em;
 }
 .admin-content form input[type=text] {
 	display: block;
 	height: 2em;
 	padding: 0.5em;
 	min-width: 400px;
 	margin-bottom: 1em;
 	border: 2px solid black;
 	box-shadow: 0 1px 2px rgba(0,0,0,.25) inset;
 }
 .admin-content form textarea {
 	border: 2px solid black;
 	padding: 0.5em;
 	min-height: 300px;
 	margin-bottom: 1em;
 	box-shadow: 0 1px 2px rgba(0,0,0,.25) inset;
 }
 .admin-content form img {
 	display: block;
 	max-height: 300px;
 	max-width: 400px;
 	margin-bottom: 1em;
 }
 .admin-content form input[type=file] {
 	border: 2px solid black;
 	padding: 0.5em;
 	margin-bottom: 1em;
 }
 .admin-content form input[type=submit] {
 	display: block;
 	height: 2.5em;
 	background: black;
 	color: white;
 	border: 0;
 	padding: 0 1em;
 	box-shadow: 0 1px 2px rgba(0,0,0,.25);
 }
 .admin-content form input[type=submit]:hover {
 	box-shadow: 0 3px 6px rgba(0,0,0,.25);
 	color: black;
 	background: white;
 }
 .admin-header {
 	font-size: 1.25em;
 	padding: 1em;
 	color: #fff !important;
 	background: black;
 }
 .admin-header:hover {
 	background: #444 !important;
 }
 .admin-nav a {
 	display: block;
 	padding: 1em;
 	text-decoration: none;
 	color: black;
 }
 .admin-nav a:hover {
 	background: #efefef;
 }
 h2 {
 	font-size: 1.25em;
 	padding: 1em;
 	margin: 0;
 	background: #efefef;
 }
 #login {
 	width: 300px;
 	margin: 5em auto;
 	padding: 1em;
 }
 #login input {
 	width: 100%;
 	padding: 0.5em;
 	height: 2em;
 	line-height: 2em;
 	border: 2px solid black;
 	margin-bottom: 1em;
 	display: block;
 	box-shadow: 0 1px 2px rgba(0,0,0,.25) inset;
 }
 #login .login-button {
 	height: 3em;
 	text-transform: uppercase;
 	text-align: center;
 	background: black;
 	color: white;
 	border: 0;
 	margin-top: 2.25em;
 	box-shadow: 0 1px 2px rgba(0,0,0,.25);
 }
 #login .login-button:hover {
 	background: white;
 	color: black;
 	box-shadow: 0 2px 4px rgba(0,0,0,.25);
 }
 .login-error {
 	color: red;
 }
 #login form div {
 	margin-bottom: 0.25em;
 }
 #login h2 {
 	margin-bottom: 1em;
 }
 #logout-href {
 	border-top: 2px solid black;
 	font-weight: 700;
 }
 .button {
 	display: inline-block;
 	height: 2.5em;
 	background: black;
 	color: white;
 	border: 0;
 	padding: 0 1em;
 	box-shadow: 0 1px 2px rgba(0,0,0,.25);
 	line-height: 2.5em;
 	cursor: pointer;
 }
 .admin-content_gallery .card {
 	max-width: 640px;
 }
 .card {

 	background: #f0f0f0;
 	border-radius: 4px;
 	box-shadow: 0 1px 2px rgba(0,0,0,.25);
 	margin-bottom: 1em;
 	padding-bottom: 1em;
 }
 .card  img {  
 	border-top-left-radius: 4px;
 	border-top-right-radius: 4px;
 	max-width: 100%;
 }
 .card__descr {
 	margin: 1em;
 	height: 4em;
 }
 .card input[type=submit] {
 	margin: 0 1em;
 }
 h3 {
 	border-top: 2px solid black;
 	margin: 0;
 	padding: 1em 0;
 }
 iframe {
 	border: 0;
 }
 .admin-content_partners .card {
 	width: 200px;
 	float: left;
 	margin-right: 1em;
 }
 .admin-content_partners .card__image {
 	padding: 1em;
 	background: white;
 	height: 200px;
 	text-align: center;
 }
 .admin-content_comments input[type=submit], .admin-content_contacts input[type=submit] {
 	display: inline-block !important;
 	margin-bottom: 2em;
 }
 hr {
 	border: 1px solid black;
 }
 .admin-content_comments textarea {
 	min-height: 100px !important; 
 }
 .googlemaps-form hr {
 	border: 2px solid red !important;
 }
 .color-book {
 	width: 480px;
 	height: 360px;
 	margin-bottom: 1em;
 }
 .color-book__descr {
 	margin-bottom: 0.25em;
 }
 .color-book__form {
 	margin-bottom: 1em;
 }
 .admin-content_partners .card input[type=submit] {
 	width: calc(100% - 2em);
 }
